$ui: #00a99d;
body {
  margin: 70px 0 0 20vw;
  transition: 0.6s;
}
header {
  background: #fff;
  box-shadow: 0 0 65px rgba(0, 0, 0, 0.08);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  height: 70px;
  display: flex;
  align-items: center;
  transition: 0.6s;
  > div {
    flex: 0 0 20%;
  }
  > .search {
    flex: 0 0 60%;
    max-width: 60%;
  }
  div:nth-child(3) {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    > div {
      width: 50px;
      height: 50px;
      cursor: pointer;
    }
  }
  .dark {
    background: url("../icons/moon.svg") no-repeat center / 30px;
  }
  .lang {
    background: url("../icons/lang.svg") no-repeat center / 30px;
  }
}
#brand {
  display: block;
  width: 150px;
  height: 40px;
  margin: 10px auto;
  background: url("../images/logob.svg") no-repeat center / 80px;
}
aside {
  position: fixed;
  width: 20vw;
  left: 0;
  top: 60px;
  height: calc(100vh - 50px);
  padding: 30px 10px;
  overflow-y: auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  //background: rgb(0,169,157);
  //background: linear-gradient(145deg, rgba(0,169,157,1) 0%, rgba(2,115,107,1) 100%);
  nav {
    box-sizing: border-box;
    transition: 0.6s;
    > ul {
      border-radius: 10px;
      transition: 0.6s;
      list-style: none;
      > li {
        > div {
          padding: 10px;
          font-size: calc(0.8vw + 0.8vh);
          font-weight: lighter;
          margin: 2px 0 6px;
          border-radius: 10px;
          text-transform: uppercase;
          letter-spacing: 2px;
          color: $ui;
          cursor: pointer;
          position: relative;
        }
        > div:after {
          content: "\e5ce";
          font-family: "MaterialIcons", sans-serif;
          position: absolute;
          right: 10px;
          top: 50%;
          transform: translateY(-50%);
          font-size: 2rem;
        }
        > ul {
          list-style: none;
          height: 0;
          overflow: hidden;
          transition: 0.6s;
          > li {
            a {
              font-size: calc(0.6vw + 0.65vh);
              padding: 10px;
              display: block;
              position: relative;
            }
            a:after {
              content: "";
              position: absolute;
              left: calc(100% - 35px);
              top: calc(50% - 2px);
              width: 4px;
              opacity: 0;
              height: 4px;
              background: #000;
              display: block;
              transition: 0.6s;
              border-radius: 2px;
            }
            a.on:after {
              opacity: 1;
            }
            a + ul {
              height: 0;
              overflow: hidden;
              opacity: 0;
              pointer-events: none;
              margin-left: 10px;
            }
            a.on + ul {
              height: auto;
              opacity: 1;
              pointer-events: all;
            }
          }
        }
      }
    }
    > ul.on {
      div:after {
        content: "\e5cf";
      }
      > li {
        > ul {
          height: auto;
        }
      }
    }
    a {
      display: block;
      position: relative;
      text-decoration: none;
    }
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 15px 0;
}
ol {
  margin-left: 25px;
}
[aria-label] {
  scroll-margin-top: 120px;
}
.search {
  text-align: center;
  input {
    text-align: center;
    border-radius: 10px;
    padding: 12px 35px;
    border: 0;
    background: rgba(0, 0, 0, 0.05) url("../icons/search.svg") no-repeat calc(100% - 15px) center / 25px;
    margin: 0 auto;
    font-weight: lighter;
    box-shadow: none;
    font-size: 18px;
    letter-spacing: 1px;
    max-width: 600px;
  }
  input::placeholder {
    //color:#ddd;
  }
}

/* Page Contents */

article {
  padding: 30px 40px;
  opacity: 0;
  transition: 0.6s;
  > h1 {
    margin-bottom: 30px;
  }
  > h1:nth-child(1) {
    margin-top: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
}
p,
ol li {
  margin-bottom: 15px;
  font-size: 1rem;
  line-height: 1.8rem;
}
a {
  text-decoration: underline;
}
h3 {
  font-weight: normal;
}
.define {
  color: $ui;
  font-weight: normal;
}
.app {
  color: olivedrab;
  font-weight: normal;
}
.core {
  color: #1cb5e0;
  font-weight: normal;
}
article.on {
  opacity: 1;
}
div.code {
  position: relative;
}
.loader {
  position: fixed;
  top: 50px;
  height: 2px;
  left: 230px;
  width: calc(100% - 230px);
  i {
    background: deepskyblue;
    opacity: 0.3;
    position: absolute;
    left: 0;
    top: 0;
    height: 2px;
    width: 0;
    transition: 0.6s;
  }
}
pre {
  //border: 2px solid #49b9da;
  border-radius: 10px;
  font-size: 1rem;
  background: #c6e9ed;
  white-space: break-spaces;
  padding: 2px 4px;
  font-family: "AnonymousPro", monospace;
}
.pre > pre {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0;
  border-radius: 5px;
  padding: 5px 10px;
}
.artwork {
  max-width: 100%;
}
td, th {
  div.code pre {
    margin-bottom: 0;
  }
}
.tip {
  padding: 12px 12px 12px 60px;
  background: #ffa50033;
  border-radius: 15px;
  position: relative;
}
.tip:before {
  content: 'info';
  font-family: 'MaterialIcons';
  position: absolute;
  left: 15px;
  font-size: 2rem;
  color: orange;
}
table.plain {
  margin-bottom: 20px;
  td:first-child {
    padding: 10px 10px 10px 0;
  }
  td:last-child {
    padding: 10px 0 10px 10px;
  }
}
/* table {
  border-spacing: 0;
  //border:1px solid #ddd;
  border-radius:4px;
  thead {
    color:$ui;
    td {
      border-top:1px solid #ddd;
    }
  }
  td {
    padding:0 10px;
    border-bottom:1px solid #ddd;
    border-right:1px solid #ddd;
    p {
      margin: 0;
    }
  }
  td:first-child {
    border-left:1px solid #ddd;
  }
} */
/* table td pre {
  padding: 0;
  background:none;
  border:0;
} */
div.code {
  pre {
    margin-bottom: 15px;
    padding: 12px 25px 12px 12px;
  }
  .copy {
    position: absolute;
    top: 0;
    right: 0;
    padding: 4px 6px;
    background: $ui;
    border-radius: 0 10px;
    color: #fff;
    letter-spacing: 1px;
    cursor: pointer;
    opacity: 0.5;
    transition: 0.6s;
    .mat-ico {
      font-size: 1.2rem;
      line-height: 1.2rem;
    }
  }
  .copy:hover {
    opacity: 1;
  }
}
#links {
  position: fixed;
  top: 100px;
  right: 20px;
  background: #fff;
  width: 250px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 5px 0;
  opacity: 0.2;
  transition: 0.6s;
  .action {
    position: absolute;
    right: 0;
    top: 0;
    .mat-ico {
      padding: 10px;
      cursor: pointer;
    }
    .open {
      display: none;
    }
  }
  .title {
    padding: 10px 20px;
    font-weight: bold;
  }
  .links {
    max-height: 60vh;
    overflow-y: auto;
    div {
      display: block;
      padding: 6px 20px;
      font-size: 0.9rem;
      cursor: pointer;
    }
  }
}
#links.on {
  .links {
    display: none;
  }
  .open {
    display: block;
  }
  .close {
    display: none;
  }
}
#links:hover {
  opacity: 1;
}
td .copy {
  display: inline-block;
  vertical-align: top;
  padding: 4px 8px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  font-size: 12px;
  color: #fff;
  letter-spacing: 1px;
  cursor: pointer;
  position: absolute;
  right: 20px;
}
table.micro td {
  width: 50%;
}

/* Notification */

/* #notify {
  position: fixed;
  width: 800px;
  left: 50%;
  transform:translate(-50%);
  padding: 15px 50px 15px 15px;
  border-radius:10px;
  background:#fff;
  box-shadow:0 0 25px rgba(0,0,0,.2);
  opacity: 0;
  pointer-events: none;
  bottom: -150%;
  transition:.6s;
  .close {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 25px;
    height: 25px;
    background:url('../icons/close.svg') no-repeat center / contain;
    cursor: pointer;
  }
}
#notify.on {
  bottom: 20px;
  opacity: 1;
  pointer-events: all;
} */

/* DARK MODE */

body.d {
  background: rgb(10, 10, 10);
  ::-webkit-scrollbar {
    background: none;
  }
  header {
    background: rgb(30, 30, 30);
    .dark {
      background: url("../icons/sun.svg") no-repeat center / 30px;
    }
    .lang {
      background: url("../icons/langw.svg") no-repeat center / 30px;
    }
  }
  article {
    color: #ddd;
  }
  aside {
    background: rgba(20, 20, 20);
  }
  nav a {
    color: #fff;
  }
  #brand {
    background: url("../images/logow.svg") no-repeat center / 80px;
  }
  .search input {
    color: #fff;
    background: rgba(0, 0, 0, 0.3) url("../icons/searchw.svg") no-repeat calc(100% - 15px) center / 25px;
  }
  aside nav > ul > li > ul > li a:after {
    background: #fff;
  }
  pre {
    background: rgb(20, 20, 20);
    border: 1px solid rgb(35, 35, 35);
  }
  #links {
    background: rgb(20, 20, 20);
  }
  div.code .copy {
    background: rgb(0, 0, 0);
  }
  /* table {
    thead tr {
      background:rgb(15,15,15);
    }
    tbody {
      background:rgb(10,10,10);
    }
    tr {
      border-top:1px solid rgb(20,20,20);
      border-bottom:1px solid rgb(20,20,20);
    }
  }
  #notify {
    background:rgb(30,30,30);
    box-shadow:0 0 25px rgba(20,20,20,.2);
    .close {
      background:url('../icons/closew.svg') no-repeat center / contain;
    }
  } */
}

@media only screen and (min-width: 960px) {
}
@media only screen and (min-width: 1440px) {
}
@media only screen and (min-width: 2000px) {
  p,
  pre,
  ol li {
    margin-bottom: 15px;
    font-size: calc(0.6vw + 0.6vh);
    line-height: calc(1.3vw + 1.3vh);
  }
  aside nav > ul > li > ul > li > a {
    font-size: calc(0.6vw + 0.6vh);
  }
}
