body {
    margin:50px 0 0;
}
header {
    z-index:20;
}
#brand, header+nav {
    width:calc(100% - 120px);
}
#menu, #more {
    background:url('../icons/menu.svg') no-repeat center / 35px;
    width:60px;
    height:100%;
    cursor: pointer;
}
#more {
    background:url('../icons/more.svg') no-repeat center / 35px;
}
#menu.on, #more.on {
    background:url('../icons/back.svg') no-repeat center / 35px;
}
#prime, #links {
    display: none;
}
header+nav {
    width: 100%;
    z-index:10;
    opacity: 0;
    pointer-events: none;
}
header+nav.on {
    opacity: 1;
    pointer-events: all;
}
header+nav>ul>li>ul>li>a {
    padding:10px 25px;
}
article img {
    max-width:100%;
}
.loader {
    left: 0;
    width:100%;
}